<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Web Drop</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="page">
      <div class="header">
        <h1><a href="{{ url_for('index') }}">Web Drop</a></h1>
        {% for message in get_flashed_messages() %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
      </div>
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
